<div class="gh-swimming-header">
    <div class="gh-swimming-image">
        <div class="gh-swimming-headline">

        </div>
        <img src="https://uploads.guim.co.uk/2018/04/13/Magnum_Guardian_013.jpg">
    </div>
</div>
<div class="gh-swimming-main">
    <div class="gs-container">
        <div class="content__main-column">
            <h1></h1>
            {{#copy}}
                <pre><div class="gh-swimming-drop-cap"><svg width="141" height="101" viewBox="0 0 141 101" xmlns="http://www.w3.org/2000/svg"><path d="M26.6 101l-20-88L1 9.1V0h49.5v9l-8 3.8 8 51.1h1.2l14-64H92l17.1 64h1.1l9.1-51-9.6-3.8V0h30.9v9l-5.6 4-18.2 88H85.5l-14-56.3h-1.2L57.8 101z" fill="#2295CE" fill-rule="evenodd"/></svg></div>{{{block-1}}}</pre>
                <div class="gh-swimming-image-block">
                    <img src="{{image-1}}">
                    <img src="{{image-2}}">
                    <h2 class="gh-swimming-quote">
                        {{quote-1}}
                    </h2>
                    <p class="gh-swimming-caption">
                        {{caption-1}}
                    </p>
                </div>
            {{/copy}}
        <div>
    </div>
</div>
